{% extends 'base.html' %}

{% block content %}

<nav class="breadcrumb mt-3" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'my_account' %}">My Account</a></li>
    <li><a href="#">My Statistics</a></li>
  </ul>
</nav>

<div class="my-account-page columns is-multiline is-centered">
  <div class="column is-three-quarters">
    <div class="my-account card ">
      <header class="card-header">
        <p class="card-header-title">Statistics</p>
      </header>

      <div class="card-content columns is-multiline">
        <div class="column">
          <h2 class="subtitle">User information</h2>
          <div class="columns is is-multiline">
            <div class="column">
              <h3 class="has-text-grey">Username</h3>
              <h3><strong>{{ user.username }}</strong></h3>
            </div>

            <div class="column">
              <h3 class="has-text-grey">Email</h3>
              <h3><strong>{{ user.email }}</strong></h3>
            </div>

            <div class="column">
              <h3 class="has-text-grey">Credit</h3>
              <h3><strong>{{ user.credit }}</strong></h3>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="card-content columns is-multiline">
        <div class="column">
          <h2 class="subtitle">Invoices</h2>

          <div class="">
            {% if statistics %}
            <table class="table is-fullwidth">
              <thead>
              <tr>
                <th>Description</th>
                <th>Quantity</th>
                <th>Cost per plan</th>
              </tr>
              </thead>

              <tbody>
              {% for key, value in statistics.items %}
              <tr>
                <td>Invoices for {{ key }} plan</td>
                <td>{{ value.invoices_quantity }}</td>
                <td>${{ value.cost_per_plan }}</td>
              </tr>
              {% endfor %}
              <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>${{ total.total_spending }}</strong></td>
              </tr>
              </tbody>
            </table>
            {% else %}
            <p>No invoices found.</p>
            {% endif %}
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
