{% extends 'base.html' %}
{% block content %}
<nav class="breadcrumb mt-3" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'home' %}">Plans</a></li>
      <li><a href="#">{{ plan_item.name }} Plan</a></li>
    </ul>
  </nav>

<section class="container">
    <div class="columns is-multiline mt-5">
      <div class="column is-8 is-offset-2 register">
        <div class="columns">
          <div class="column left has-background-white mx-1">
            <h1 class="title is-1">{{ plan_item.name }} Plan</h1>
            <p class="mt-3">{{ plan_item.description|linebreaksbr }}</p>
          </div>
          <div class="column right has-text-centered has-background-white mx-1">
            <h1 class="title is-4">Notice</h1>
            <p class="description">By subscribing to this plan, an invoice with ${{ plan_item.price }} amount will be generated for you every 10 minutes.</p>
            <br/>
            <br/>
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'subscribe' pk=plan_item.pk %}">
                    {% csrf_token %}
                    <button class="button is-block is-primary is-fullwidth is-medium" type="submit">Subscribe</button>
                </form>
                {% else %}
                <p>Please <a href="{% url 'login' %}"> login</a> to continue.</p>
                {% endif %}
            <br />
            {% if messages %}
            {% for message in messages %}
            <div class="has-text-danger">
            {{ message }}
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}